* {
    margin: 0px;
    padding: 0px;
}

.background-container {
    width: auto;
    height: 500px;
    padding: 140px 150px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    background-image: url('images/banner/banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}

.banner-info {
    color: #151414;
    gap: 40px;
    padding: 80px;
    text-align: right;
    font-size: 26px;
    font-weight: 700;
    font-weight: bolder;


}

.title-desc {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 13px;
}

.btn {
    padding: 14px;
    border-radius: 5px;
    background: #F15B22;
    margin-right: 100px;
    margin-top: 17px;
}

.lady {
    height: 460px;
    width: 430px;
    background-color: rgb(180, 111, 111) 50%;
}

.center-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.center-disc {
    margin-right: 100px;
    color: var(--dark-01, #151414);
    font-size: 20px;
    font-weight: 700;
}

.center-para {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 10px;
}

.my-plans {
    text-align: center;


}

.all-boxs {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box {
    text-align: center;
    width: 150px;
    height: 100px;
    padding: 50px;
}   
.disc { color: #737272;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
}

#plan {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}
.mindset-text {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    padding-top: 50px;
    margin-left: 50px;
}
.mindset {
    margin: 150px 0px;
    background-image: url('../images/gradient2.png'), url('../images/watch.png');
    width: 100%;
    height: 301px;
    border-radius: 8px;
    background-repeat: no-repeat;
    align-items: center;
    margin-left: 160px;
}


.btn-call {
    background: #FFF;
    color: #F15B22;
    margin-left: 50px;
    margin-top: 30px;
    padding: 20px;
    border: none;
}
